.idea

*.yaml
!.pre-commit-config.yaml
!example-config.yaml
!example-registration.yaml

*.session
*.json
*.db*
*.log

/mautrix-imessage
/mautrix-imessage.app
/start
/data/

# Rust build artifacts
librustpushgo.a
pkg/rustpushgo/target/
state/


# Development/test prompt files
ENDTOEND_TEST_PROMPT.md
RUSTPUSH_INTEGRATION_PROMPT.md
